<div class="container">
  <div class="container-left">
    <img src="../../../assets/logo/Timesheet.png" class="logo" />
  </div>

  <div class="container-right">
    <div class="language">
      language
      <div class="language-hover"></div>
      <div class="language-content">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
      </div>
    </div>
    <div class="option">
        <i class="bi bi-three-dots-vertical"></i>
      <div class="option-hover"></div>
      <div class="option-content">
        <a href="#">Log out <i class="bi bi-box-arrow-in-left" style="color: black; margin-left: 7px;"></i></a>
      </div>
    </div>

  </div>
</div>
